@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy-bold.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy-bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/gilroy-bold.svg#gilroy-bold")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy-medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy-medium.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy-medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/gilroy-medium.svg#gilroy-medium")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy-semibold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy-semibold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy-semibold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg"); /* Chrome < 4, Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy-Bold", sans-serif;
  background: #ffffff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__space-between {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 533px;
}

.header__link {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  padding: 40px 0;
}

.header__img-chevron {
  width: 14px;
  align-self: center;
  margin-left: 10px;
  transform: rotate(180deg);
}

.header__link_active {
  color: #f25822;
}

.header__link_details {
  min-width: 80px;
  position: relative;
}

details > summary {
  display: flex;
  list-style: none;
}

[open] {
  position: absolute;
}

[open] .header__img-chevron {
  transform: rotate(0deg);
}

.top {
  margin-top: 40px;
  margin-bottom: 256px;
}

.top__content {
  display: flex;
  justify-content: space-between;
}

.top__title {
  margin-bottom: 17px;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}

.top__text {
  margin-bottom: 52px;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 23px;
  color: #888888;
}

.top__buttons {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 15px 36px;
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  border: none;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}

.button__video {
  background: #ffffff;
  box-shadow: none;
  color: #aaaaaa;
}

.button__img {
  width: 16px;
  margin-right: 10px;
}

.info {
  margin-bottom: 97px;
}

.info__content {
  display: flex;
  justify-content: space-between;
}

.info__link {
  height: 60px;
}

.advantage {
  background: #ffffff;
  padding: 140px 0 125px;
}

.advantage__cards {
  display: flex;
  justify-content: space-between;
}
.advantage-card {
  width: 370px;
  padding: 40px 30px 25px;
}

.advantage-card:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.advantage-card__img {
  margin-bottom: 25px;
}

.advantage-card__title {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 28px;
}

.advantage-card__text {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 150%;
  color: #666666;
}

.advantage-card__link {
  font-size: 11px;
  line-height: 150%;
  color: #000000;
  text-decoration: none;
}

.choose-us {
  padding: 92px 0 100px;
  background: #fafafa;
}
.choose-us__title {
  text-align: center;
  margin-bottom: 18px;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
}

.choose-us__text {
  margin: 0 auto;
  max-width: 682px;
  margin-bottom: 54px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #666666;
}

.choose-us__cards {
  display: flex;
  justify-content: space-between;
}

.choose-card {
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  background: #ffffff;
}
.choose-card__img {
  margin-bottom: 20px;
  height: 250px;
}
.choose-card__title {
  margin-bottom: 22px;
  padding: 0 30px;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
.choose-card__text {
  margin-bottom: 39px;
  padding: 0 30px;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #aaaaaa;
}

.button__arrow {
  margin-left: 10px;
}

.choose-card:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
